.headerText{
    font-weight: 600!important;
    font-size: 18px!important;
    line-height: 22.59px!important;
}

.creativeDesign{
    color: #31855C;
}

.rotate-90 {
    transform: rotate(90deg);
    white-space: nowrap;
  }
  
  .dropdown-toggle{
    font-weight: 600!important;
    font-size: 18px!important;
    line-height: 22.59px!important;
    background-color: white!important;
    border: none!important;
    color: black!important;
    padding: 6px 12px!important;
    @media (max-width: 991px) {
    padding: 6px 0px!important;
    }
  }

  .dropdown-toggle:hover{
    border: 2px solid #D4AE5E!important;
}

.sticky{
  z-index: 9999;
}
.navbar {
  transition: background-color 0.3s, color 0.3s!important;
  // z-index: 9999!important;
}

.sticky .navbar {
  background-color: #232334;
  color: white!important;
  .nav-link{
    color: white!important;
  }
}