.downloadBorder:hover{
    border: 2px solid #D4AE5E!important;
}

.bgButton{
    background-color: #31855C!important;
    font-weight: 500!important;
    font-size: 16px!important;
}

.bgFeedback{
    background-color: #232334;
}

.textFont{
    font-weight: 600;
    font-size: 18px;
    line-height:22.59px;
}

.fw-400{
    font-weight: 400!important;
}

.fw-600{
    font-weight: 600!important;
}

.fs-16{
    font-size: 16px!important;
}

.fs-32{
    font-size: 32px!important;
}
.fs-58{
    font-size: 58px!important;
}

.cursorPointer{
    cursor: pointer;
}

.treeConnectWidth{
    width: 79%!important;
}

.designToolBG{
    background-color: #D4AE5E;
}

.getInTouchBG{
background-color: #31855C;
}

.ContactColor{
    color: #D4AE5E;
}

.custom-card {
    position: relative!important;
    z-index: -1!important;
  }

  .customCard {
    position: relative!important;
    z-index: -1!important;
  }